//color botton
$color_btn:#4d12f9;
//fonts
@font-face {
  font-family: 'Mukta';
  src: url('font/Mukta/Mukta-ExtraLight.woff2') format('woff2'),
  url('font/Mukta/Mukta-ExtraLight.woff') format('woff'),
  url('font/Mukta/Mukta-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Mukta-Bold';
  src: url('font/Mukta/Mukta-Bold.woff2') format('woff2'),
  url('font/Mukta/Mukta-Bold.woff') format('woff'),
  url('font/Mukta/Mukta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body{
  font: 18px 'Mukta',sans-serif;
}
a,a.btn{
  outline: none;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.my_btn{
  background: $color_btn;
  color: #fff;
  font: 700 20px Mukta-Bold;
  border: none;
  border-radius: 25px;
  transition: all .2s ease-in;
  &:hover{
    background: $color_btn;
    transform: scale(1.1);
  }
}
nav.navbar{

  a{
    font-weight: bolder;
  }
}
.wrap-logo{

  h1{
    position: relative;
    font-size: 30px;
    vertical-align: middle;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    background: linear-gradient(to right, #b8b8b8, #c5c5c5, #bcbcbc, #c0c0c0,#A1A1A1);
    filter: barn(5px);
    background-clip: text;
    animation: animate-logo 30s linear infinite;
  }
}
////////////
@-webkit-keyframes animate-logo {
  0% {
    background-position: 0 3200px;
  }
  100% {
    background-position: 3200px 0;
  }
}
/////////
.wrapper_link{
  .link{
    color: #ccc;
    position: relative;

    i{
      vertical-align: -1px;
      animation:trembling .3s infinite;
      opacity: 0;
      transition: ease-in .3s;
      transform: scale(.5);
      perspective: 500px;
    }
    &:hover i{
      opacity: 1;
      transform: scale(1);
    }
    &:before{
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 0;
      height: 1px;
      background: #ccc;
      transition: ease-in .4s;
    }
    &:hover:before{
      width: 100%;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
//effect tel anim
@keyframes trembling {
  0%{
    transform: rotate(5deg);
  }
  25%{
    transform: rotate(-5deg);
  }
  50%{
     transform: rotate(5deg);
   }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(5deg);
  }
}
  //menu
.top_mnu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;

  &.hied {
    transition: 1s ease-in-out;
    opacity: 0;
    overflow: hidden;
  }
  &.fixed {
    transition: all .4s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background: url("../img/photo_2019-03-22_13-46-04.jpg") no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(98, 9, 223, 0.4);
  }
  section{
    z-index: 1;
    .content{
      max-width: 450px;
      h1{
        font-size: 60px;
        color: #dee8ee;
      }
      p{
        color: #ffffff;
      }
    }
  }
}
.navbar-nav{

  li.nav-item{

    a.nav-link{
      position: relative;
      min-width: 100px;
      transition: all .5s;
      box-sizing: border-box;
      font-weight: bold;
      text-align: center;
      span{
        position: absolute;
        width: 25%;
        height: 100%;
        top: 0;
        background: rgba(77, 18, 249, 0.14);
        z-index: -1;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .5s ease-in;

        &:nth-child(1){
          left: 0;
          transition-delay: 0s;
        }
        &:nth-child(2){
          left: 25%;
          transition-delay: 0.15s;
        }
        &:nth-child(3){
          left: 50%;
          transition-delay: 0.3s;
        }
        &:nth-child(4){
          left: 75%;
          transition-delay: 0.45s;
        }
      }
      &:hover{
        color: #ffffff;
      }
      &:hover span{
        transform-origin: bottom;
        transform: scaleY(1);
      }
    }
  }
}
//button effect
.container{

  a.btn{

    .wrap-btn{
      position: relative;
      display: flex;
      align-items: center;
      width: 250px;
      border-radius: 25px;
      overflow: hidden;
      &:after{
        position: absolute;
        content: "";
        z-index: -1;
        width: 50px;
        height: 100%;
        background: $color_btn;
        transition: all .5s ease-in-out;
        opacity: 0;
      }

      .wrap-icon{
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: $color_btn;

        i.fa{
          position: absolute;
          left: 50%;
          top: 50%;
          width: 15px;
          height: 15px;
          margin: 4px -6px;
          border-top: 0.125rem solid #fff;
          border-right: 0.125rem solid #fff;
          transform: rotate(45deg) translate(-50%,-50%);
          transition: all .4s;
        }
        span{
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-50,-50%);
          background: #fff;
          width: 20px;
          height: 0.125rem;
          transition: all .4s;
        }
      }
      .icon-arrow{
        position: absolute;
        right: 10px;
        color: #ffffff;
        font: bold 20px 'Mukta-Bold';
      }
    }
    &:hover .wrap-btn:after{
      width: 100%;
      opacity: 1;
    }
    &:hover .wrap-icon span{
      margin: 0 13px;
    }
    &:hover .wrap-icon i.fa{
      margin: 4px -6px 3px 8px;
    }
  }
}

